<template name="Header">
  <nav>
    <div class="nav-wrapper">
      <a href="" class="brand-logo">ChatApp</a>
      <ul id="" class="right">
        {{#if currentUser}}
          <li class="user-block">
            <img src="{{currentUser.profile.avatar}}" alt="">
            <b>{{currentUser.username}}</b>
          </li>
          <li>
            <a href="" class="logout-user"><i class="icon-logout icons"></i></a>
          </li>

        {{else}}
          <li><a href="" class="show-login-modal">Login</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
  {{> LoginModal}}
</template>

