<template name="FriendsList">
  <div class="left-menu">
    <form action="#" class="search">
      <input placeholder="search..." type="search" name="" id="">
      <input type="submit" value="&#xf002;">
    </form>
    <menu class="list-friends">
      {{#each users}}
        <li>
          <img width="50" height="50"
               src="http://cs625730.vk.me/v625730358/1126a/qEjM1AnybRA.jpg">
          <div class="info">
            <div class="user">{{email}}</div>
            <div class="status on"> online</div>
          </div>
        </li>
      {{/each}}
    </menu>
  </div>
</template>