<template name="FriendsList">
  <div class="left-menu">
    <form action="#" class="search">
      <input placeholder="search..." type="search" name="" id="">
      <input type="submit" value="&#xf002;">
    </form>
    <menu class="list-friends">
      {{#each users}}
        <li class="friend">
          <img width="50" height="50"
               src="{{ avatar this}}">
          <div class="info">
            <div class="user">{{username}}</div>
            {{#if online}}
            <div class="status on"> online</div>
            {{else}}
              <div class="status off"> offline </div>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </menu>
  </div>
</template>