<template name="Messages">
  <div class="chat">
    <div class="top">
      {{#if roomName}}
        <div class="avatar">
          <img width="50" height="50"
               src="{{roomPhoto}}">
        </div>
        <div class="info">
          <div class="name">{{roomName}}</div>
          <div class="count">already 1 902 messages</div>
        </div>
        <i class="fa fa-star"></i>
      {{/if}}
    </div>
    {{#if roomName}}
    <ul class="messages">
      {{#each messages}}
        {{> Message}}
      {{/each}}
    </ul>
     {{> NewMessage}}
    {{/if}}
  </div>
</template>